@charset "UTF-8";

.container {
  @include min-max(250px, 100%, 0);
}

.wrap {
  @include min-max(320px, 1560px, 0);
}

.btn {
  display: flex;
  align-items: center;
  padding: 9px 35px;
  background-color: $red;
  color: $white;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 28px;
  border-radius: 4px;
}
.white {
  color: $white;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  line-height: 80px;
  font-weight: 800;
  color: $white;
  width: 500px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  line-height: 55px;
  font-weight: 600;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 55px;
  font-weight: 600;
  text-transform: uppercase;
}
